
body {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Adds margin between cards */
  padding: 20px; /* Optional: Add padding to the container */
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 920px) {
  .card-container {
    justify-content: space-around;
  }
}