
.header-title {
    background-color: teal;
    padding: 10px;
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    text-align: center;
    margin: 0;
}
  
  
/** .header-container {
    text-align: center; 
}*/